.btn{
    padding: 10px 20px;
    font-weight: $font-weight-heavy;
    font-size:11px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    letter-spacing: 1px;
}
.btn-big{
    padding: 15px 30px;
    border-radius: 30px;
    font-size:16px;
}
.btn.btn-default{
    background-color: $dark-color;
    color:#fff;
    &:hover{
        background-color: $dark-color--hover;
        color: #fff;
    }
}
.btn.btn-white{
    background-color: transparent;
    color:#fff;
    border:2px solid #fff;
    &:hover{
        background-color: $dark-color;
        color: #fff;
    }
}
