.owl-banners{
    background-color: $dark-color;
    height: calc(100vh / 3);
    overflow: hidden;
    @media screen and (orientation: landscape)   {
        height: 100vh;
    }
    @media screen and (min-width: $breakpoint-small) and (orientation: portrait)   {
        height: calc(100vh / 2);
    }
    @media screen and (min-width: $breakpoint-large) {
        height: calc(100vh - #{$header__height--desktop});
    }
    *{
        color: #fff;
    }
    a:hover{
      color: $light-color;
    }
    .entry-header *{
      margin: 0;
    }
    .entry-content{
      margin: 40px 0
    }
}

.entry-banner{
    position: absolute;
    top: 10px;
    left: 20px;
    width: calc(100% - 40px);
    p{
      font-size: 20px;
    }
    @media screen and (min-width: $breakpoint-large) {
        top: 10vh;
        left: 20vh;
        width: calc(100% - 40vh);
        p{
          font-size: 20px;
          padding-top: 20px;
        }
    }
}
.owl-theme {
  .owl-nav,
  .owl-dots{
      position: relative;
      z-index: 10;
  }
  .owl-dots{
    text-align: center;
    .owl-dot {
      padding: 0 0 20px 0 !important;
      span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
      }
      &.active span{
        background: none repeat scroll 0 0 $dark-color;
      }
    }
  }
}
