.content{
  background-color: $dark-color;
  display: grid;
  grid-template-columns: 50% auto;
  &.horizontal__block{
    img{

    }
    h4,p{
      color:#fff;
    }
  }
  &__content{
    margin: 0 40px;
  }
}
#main{
  article{
    .entry-header {
      grid-area: header;
    }
    .post-thumbnail {
      grid-area: thumbnail;
      background-color: $dark-color;
      img{
        -webkit-clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    .entry-content {
      grid-area: main;
    }
    .entry-sidebar{
      grid-area: sidebar;
    }
    .entry-footer {
      grid-area: footer;
    }
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "thumbnail main main"
      "footer footer footer";
  }
}
