.content{
  background-color: $dark-color;
  display: grid;
  grid-template-columns: 50% auto;
  &.horizontal__block{
    img{

    }
    h4,p{
      color:#fff;
    }
  }
  &__content{
    margin: 0 40px;
  }
}
