#edelweiss{
  .content{
    &__content{
      @media screen and (min-width: $breakpoint-large) {
        padding: 100px;
      }
      h4{
        a{
          color: inherit;
        }
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
