#events{
    background-color: $light-color--bg;
    padding-bottom: 60px;
    .img-placeholder{
        background-color: $light-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        border-radius: $border-radius--small;
    }
    .item{
        margin: 40px;
    }
    h3,p{
        color:$gray-color;
    }
    h2{
        color:$dark-color;
    }
    img{
        border-radius: $border-radius--small;
    }
}
