
header.site-header{
    display: grid;
    grid-template-columns: 33% auto;
    height:$header__height;
    @media screen and (min-width: $breakpoint-large) {
        height: $header__height--desktop;
    }
    overflow: hidden;
}
.home{
  header.site-header{
      height:calc(#{$header__height} + 20px);
      @media screen and (min-width: $breakpoint-large) {
          height: calc(#{$header__height--desktop} + 40px);
      }
  }
}


.site-title,
.site-description{
    position: absolute;
    top: -1000px;
}
.custom-logo-link{
}
.custom-logo{
    height: $header__height--mobile--logo;
    @media screen and (min-width: $breakpoint-large) {
        height: $header__height--desktop--logo;
    }
    margin: 10px 0;
    width: auto;
    max-width: none;
    position: absolute;
}
.site-branding{

}
.main-navigation{
    display: flex;
    justify-content: flex-end;
    .menu-menu-1-container{
        width: 100%;
        position: absolute;
        z-index: 2;
        top:$header__height;
        left: 0;
        background-color: $dark_color;
         li{
            float: none;
            padding: 20px;
            a{
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                color: $light-color
            }
        }
        @media screen and (min-width: $breakpoint-large) {
            background-color: transparent;
            position: static;
            height: $header__height--desktop;
            display: flex;
            align-items: center;
             li{
                list-style-type: none;
                 float: left;
                a{
                    color: $dark-color
                }
            }
        }
    }
}
