#quotes{
    a{
        text-decoration: none;
    }
    background-color: #fff;
    padding-bottom: 60px;
    .img-placeholder{
        background-color: $dark-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        border-radius: 3px;
    }
    .item{
        margin: 40px;
    }
    h3,p{
        color:$gray-color;
    }
    h2{
        color:$dark-color;
    }
    img{
        border-radius: 3px;
    }
    .quote__item{
        display: grid;
        grid-template-columns: 300px auto;
        &--texts{
            margin: 0 40px;
            h1{
                margin:0;
            }
            p{
                font-size: 28px;
                font-family: $font-family;
                font-weight: $font-weight-light;
                font-style: italic;
                
            }
        }
    }
}